include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include netbox_cadplan/templates *
recursive-include netbox_cadplan/static *
recursive-include netbox_cadplan/locale *
